[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/Irev-Dev/Round-Anything.git
[submodule "lib/Round-Anything"]
	path = lib/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything.git
[submodule "lib/list-comprehension-demos"]
	path = lib/list-comprehension-demos
	url = https://github.com/openscad/list-comprehension-demos.git
